<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/pico.min.css" rel="stylesheet" />
    <link href="/css/pico.colors.min.css" rel="stylesheet" />
    <script src="/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: "#content-new",
        license_key: "gpl",
      });
    </script>
    <title>Document</title>
  </head>
  <body>
    <main class="container">
      {% block content %}
      {% endblock %}
    </main>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
